.container {
    width:100%;
    max-width:1261px; //misol tariqasida (width sytni hajmiga qarab o'zgarib ketaveradi
    margin: 0 auto;
    padding: 0 20px;
}
.hero-container {
    background-image: url("../images/Heroimg.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 350px) bottom;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

.hero-container {
    background-image: url(../images/Heroimg@2x.png);
}
}